@reference "tailwindcss";

.todoPending {
  @apply bg-red-50 rounded-lg shadow-sm p-5 border border-red-500 flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0;
}

.todoDone {
  @apply line-through bg-blue-50 rounded-lg shadow-sm p-5 border border-blue-500 flex flex-col sm:flex-row justify-between items-center gap-2 sm:gap-0;
}